body {
    margin: 0;
    overflow-x: hidden;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* nav bar */
.heaer {
    background-color: #363636;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin: 0;
}

ul {
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

a:hover {
    color: #a1a1a1;
}

li {
    list-style-type: none;
}

h1, h2, p {
    margin: 0;
}
/* nav bar */

/* main */
#heading {
    background-image: url(./images/cup.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    max-width: 100%;
    height: 700px;

    display: flex;
    align-items: center;

}

.both-tex {
    padding-left: 10%;
}

.heain {
    color: #eeecec;
    font-weight: 800;
    font-size: 22px;
}

.text {
    margin-right: 4rem;
    color: #eeecec;
    padding: 15px 4rem 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 16px;
}

.img-mai {
    padding-right: 5%;
}

.m-im {
    width: 400px;
    height: 250px;
    border-radius: 5%;
    opacity: 0.9;
    transition: 0.3s
}

.m-im:hover {
    opacity: 1;
    cursor: pointer;
}

.btn {
    padding: 15px 40px;
    border: 2px solid #adacac;
    background-color: transparent !important;
    color: #adacac;
    opacity: 0.7;
    transition: 0.3s

}

.btn:hover {
    cursor: pointer;
    opacity: 1;
}
/* main */

/* my work */
.my-work {
    background-image: url(./images/draw.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100%;
    max-width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cards {
    display: flex;

    text-align: center;
    gap: 20px;
    padding: 0 10%;
}

.head-im {
    font-size: 22px;
    color: #eeecec;
}

.crs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    color: #2c2c2c;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.w-img {
    height: 200px;
    width: 250px;

    /* border: 4px solid #585858; */
    border-radius: 10%;
    opacity: 0.9;
    transition: 0.3s
}

.w-img:hover {
    opacity: 1;
    cursor: pointer;
}
/* my work */

/* quotes */
.quote {
    width: 100%;
    height: 300px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {

    color: #4d4d4d;
    letter-spacing: 1.5px;
}

.quote .sa-qo {
    font-size: 23px;
    font-style: italic;
    width: 500px;
}

.author {
    text-align: right;
    font-weight: 800;
}
/* quotes */

/* contact */

.contact {
    height: 700px;
    width: auto;
    background-image: url(./images/map.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sinup {
    display: flex;
    flex-direction: column;
    background-color: #4d4d4d;
    color: #eeecec !important;
    padding: 4%;
    border-radius: 2%;
}

.sor-cont {
    margin: 10px 0;
    color: #eeecec;
}

/* contact */

/* footer */

    .foot {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #2c2c2c;
        padding: 10px 0;
    }
    
    .foot p {
        color: #eeecec;
    }

/* footer */